#draggable {
  width: 150px; height: 150px; padding: 0.5em;
}

#board {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

#board td {
  border-width: 1px;
  border-style: solid;
  width: 20px;
  height: 20px;
}

